{% load  filters %}

<li>
  <span class="{{ ENTRYTYPE }} author">{{ author|author_join }}</span>,
  <span class="{{ ENTRYTYPE }} title">{{ title }}</span>.
  <span class="{{ ENTRYTYPE }} booktitle">{{ booktitle }}</span>
{% if address %}
  , <span class="{{ ENTRYTYPE }} address">{{ address }}</span>
{% endif %}
{% if pages %}
  , <span class="{{ ENTRYTYPE }} pages">{{ pages }}</span>
{% endif %}
, <span class="{{ ENTRYTYPE }} year">{{ year }}</span>.
{% if link %}
  [<a href="{{ link }}">pdf</a>]
{% endif %}
</li>
