{% load filters %}

<li>
{% autoescape off %}
    <span class="{{ ENTRYTYPE }} author">{{ author|author_join }}</span>,
    <span class="{{ ENTRYTYPE }} title">{{ title }}</span>.
    <span class="{{ ENTRYTYPE }} booktitle">{{ booktitle }}</span>
    {% if address %}, <span class="{{ ENTRYTYPE }} address">{{ address }}</span>{% endif %}
    {% if pages %}, <span class="{{ ENTRYTYPE }} pages">{{ pages }}</span>{% endif %}
    {% if year %}, <span class="{{ ENTRYTYPE }} year">{{ year }}</span>.{%  endif %}
    {% if link %}[<a href="{{ link }}">pdf</a>]{% endif %}
{% endautoescape %}
</li>
