<ul>

<li>

    <span class="inproceedings author">L. Yang, Y. Cui, <strong>F. Zhang</strong> <em>et al.</em></span>,
    <span class="inproceedings title">PlateClick: Bootstrapping Food Preferences Through an Adaptive Visual Interface</span>.
    <span class="inproceedings booktitle">Proceedings of the 24th ACM International on Conference on Information and Knowledge Management</span>
    
    , <span class="inproceedings pages">183-192</span>
    , <span class="inproceedings year">2015</span>.
    

</li>
</ul>