packages:
  yum:
    libmemcached-devel: '0.31'

% http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/customize-containers-ec2.html#linux-container-commands
container_commands:
  collectstatic:
    command: "django-admin.py collectstatic --noinput"
  02migrate:
    command: "django-admin.py migrate"
    leader_only: true
  99customize:
    command: "scripts/customize.sh"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "project.settings"
    PYTHONPATH: "/opt/python/current/app/django-site:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "django-site/project/wsgi.py"
