# http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/customize-containers-ec2.html#linux-container-commands
container_commands:
  collectstatic:
    command: "django-admin.py collectstatic --noinput"
  02migrate:
    command: "django-admin.py migrate"
    leader_only: true
  03createfan:
    command: "python manage.py createsuperfan"



option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "project.settings"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "project/wsgi.py"
    StaticFiles: /static/=staticfiles/
