@import url("//fonts.googleapis.com/css?family=Lato|Lato|Lato");
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, ../compass/sass/_typography.scss */
html {
  font-family: "Lato", serif;
  line-height: 1.5;
}

/*
Vertical Rhythm from:
http://www.sitepoint.com/using-sass-build-custom-type-scale-vertical-rhythm/
*/
/* line 71, ../compass/sass/_typography.scss */
p, li, html {
  font-size: 14px;
  line-height: 1.5;
}

/* line 71, ../compass/sass/_typography.scss */
blockquote {
  font-size: 17.5px;
  line-height: 1.2;
}

/* line 71, ../compass/sass/_typography.scss */
h3 {
  font-size: 21.875px;
  line-height: 1.92;
}

/* line 71, ../compass/sass/_typography.scss */
h2 {
  font-size: 27.34375px;
  line-height: 1.536;
}

/* line 71, ../compass/sass/_typography.scss */
h1 {
  font-size: 34.17969px;
  line-height: 1.2288;
}

/* line 71, ../compass/sass/_typography.scss */
.hero {
  font-size: 42.72461px;
  line-height: 1.96608;
}

@media (min-width: 480px) {
  /* line 71, ../compass/sass/_typography.scss */
  p, li, html {
    font-size: 14px;
    line-height: 1.5;
  }

  /* line 71, ../compass/sass/_typography.scss */
  blockquote {
    font-size: 17.5px;
    line-height: 1.2;
  }

  /* line 71, ../compass/sass/_typography.scss */
  h3 {
    font-size: 21.875px;
    line-height: 1.92;
  }

  /* line 71, ../compass/sass/_typography.scss */
  h2 {
    font-size: 27.34375px;
    line-height: 1.536;
  }

  /* line 71, ../compass/sass/_typography.scss */
  h1 {
    font-size: 34.17969px;
    line-height: 1.2288;
  }

  /* line 71, ../compass/sass/_typography.scss */
  .hero {
    font-size: 42.72461px;
    line-height: 1.96608;
  }
}
@media (min-width: 960px) {
  /* line 71, ../compass/sass/_typography.scss */
  p, li, html {
    font-size: 16px;
    line-height: 1.5;
  }

  /* line 71, ../compass/sass/_typography.scss */
  blockquote {
    font-size: 20px;
    line-height: 1.2;
  }

  /* line 71, ../compass/sass/_typography.scss */
  h3 {
    font-size: 25px;
    line-height: 1.92;
  }

  /* line 71, ../compass/sass/_typography.scss */
  h2 {
    font-size: 31.25px;
    line-height: 1.536;
  }

  /* line 71, ../compass/sass/_typography.scss */
  h1 {
    font-size: 39.0625px;
    line-height: 1.2288;
  }

  /* line 71, ../compass/sass/_typography.scss */
  .hero {
    font-size: 48.82813px;
    line-height: 1.96608;
  }
}
@media (min-width: 1280px) {
  /* line 71, ../compass/sass/_typography.scss */
  p, li, html {
    font-size: 18px;
    line-height: 1.5;
  }

  /* line 71, ../compass/sass/_typography.scss */
  blockquote {
    font-size: 22.5px;
    line-height: 1.2;
  }

  /* line 71, ../compass/sass/_typography.scss */
  h3 {
    font-size: 28.125px;
    line-height: 1.92;
  }

  /* line 71, ../compass/sass/_typography.scss */
  h2 {
    font-size: 35.15625px;
    line-height: 1.536;
  }

  /* line 71, ../compass/sass/_typography.scss */
  h1 {
    font-size: 43.94531px;
    line-height: 1.2288;
  }

  /* line 71, ../compass/sass/_typography.scss */
  .hero {
    font-size: 54.93164px;
    line-height: 1.96608;
  }
}
/* line 100, ../compass/sass/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-family: "Lato", sans-serif;
}

/* line 111, ../compass/sass/_typography.scss */
h5, h4, p {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

/* line 115, ../compass/sass/_typography.scss */
h3 {
  margin-top: .75rem;
  margin-bottom: .5rem;
}

/* line 119, ../compass/sass/_typography.scss */
h2, h1 {
  margin-top: 1.0rem;
  margin-bottom: .5rem;
}

/* line 3, ../compass/sass/_sidebar.scss */
.sidebar {
  text-align: center;
  padding: 0rem;
  margin: 0;
  margin-top: 1rem;
  overflow: hidden;
}

/* line 12, ../compass/sass/_sidebar.scss */
#site-title {
  margin: .5rem;
  font-size: 3.6rem;
}

/* line 17, ../compass/sass/_sidebar.scss */
#site-subtitle {
  margin: 0;
}

/* line 24, ../compass/sass/_sidebar.scss */
#sidebar-nav {
  padding-left: 0;
  list-style: none;
  margin: 0.5rem;
  padding: 0 0;
}
/* line 29, ../compass/sass/_sidebar.scss */
#sidebar-nav li {
  display: inline;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 0;
  padding-bottom: 0;
}
/* line 36, ../compass/sass/_sidebar.scss */
#sidebar-nav li::after {
  content: ",";
}

/* line 42, ../compass/sass/_sidebar.scss */
#sidebar-copyright {
  padding: 0;
  margin: 0;
  display: none;
}

/* line 48, ../compass/sass/_sidebar.scss */
footer {
  font-size: .8rem;
}
/* line 50, ../compass/sass/_sidebar.scss */
footer div {
  margin: .5rem auto;
  text-align: center;
}

/* Code */
/* line 2, ../compass/sass/_code.scss */
code,
pre {
  font-family: Menlo, Monaco, monospace;
}

/* line 6, ../compass/sass/_code.scss */
code {
  padding: .25em .25em;
  font-size: 85%;
  color: #bf616a;
  background-color: #f9f9f9;
  border-radius: 3px;
}

/* line 13, ../compass/sass/_code.scss */
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: .8rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f9f9f9;
  overflow-y: hidden;
  overflow-x: scroll;
}

/* line 28, ../compass/sass/_code.scss */
pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: transparent;
  word-wrap: normal;
  white-space: pre;
}

/* line 36, ../compass/sass/_code.scss */
.highlight {
  margin-bottom: 1rem;
  border-radius: 4px;
}

/* line 40, ../compass/sass/_code.scss */
.highlight pre {
  margin-bottom: 0;
}

/*
 * Posts and pages
 *
 * Each post is wrapped in `.post` and is used on default and post layouts. Each
 * page is wrapped in `.page` and is only used on the page layout.
 */
/* line 8, ../compass/sass/_post.scss */
div.page,
div.post {
  margin-bottom: 4em;
}

/* Blog post or page title */
/* line 14, ../compass/sass/_post.scss */
.page-title,
.post-title,
.post-title a {
  color: #303030;
}

/* line 19, ../compass/sass/_post.scss */
.page-title,
.post-title {
  margin-top: 0;
}

/* Meta data line below post title */
/* line 25, ../compass/sass/_post.scss */
.post-date {
  display: block;
  margin-top: 0rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
}

/* List should be displayed properly */
/* line 33, ../compass/sass/_post.scss */
ol, ul {
  padding-left: 2rem;
}

/* line 37, ../compass/sass/_post.scss */
ol {
  list-style: decimal;
}

/* line 41, ../compass/sass/_post.scss */
ul {
  list-style: disc;
}

/* Related posts */
/* line 47, ../compass/sass/_post.scss */
.related {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid #eee;
}

/* line 52, ../compass/sass/_post.scss */
.related-posts {
  padding-left: 0;
  list-style: none;
}

/* line 56, ../compass/sass/_post.scss */
.related-posts h3 {
  margin-top: 0;
}

/* line 59, ../compass/sass/_post.scss */
.related-posts li small {
  font-size: 75%;
  color: #999;
}

/* line 63, ../compass/sass/_post.scss */
.related-posts li a:hover {
  color: #268bd2;
  text-decoration: none;
}

/* line 67, ../compass/sass/_post.scss */
.related-posts li a:hover small {
  color: inherit;
}

/*
 * Pagination
 *
 * Super lightweight (HTML-wise) blog pagination. `span`s are provide for when
 * there are no more previous or next posts to show.
 */
/* line 79, ../compass/sass/_post.scss */
.pagination {
  overflow: hidden;
  /* clearfix */
  margin-left: -1rem;
  margin-right: -1rem;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  color: #ccc;
  text-align: center;
}

/* Pagination items can be `span`s or `a`s */
/* line 89, ../compass/sass/_post.scss */
.pagination-item {
  display: block;
  padding: 1rem;
  border: 1px solid #eee;
}

/* line 94, ../compass/sass/_post.scss */
.pagination-item:first-child {
  margin-bottom: -1px;
}

/* Only provide a hover state for linked pagination items */
/* line 99, ../compass/sass/_post.scss */
a.pagination-item:hover {
  background-color: #f5f5f5;
}

@media (min-width: 30rem) {
  /* line 104, ../compass/sass/_post.scss */
  .pagination {
    margin: 3rem 0;
  }

  /* line 107, ../compass/sass/_post.scss */
  .pagination-item {
    float: left;
    width: 50%;
  }

  /* line 111, ../compass/sass/_post.scss */
  .pagination-item:first-child {
    margin-bottom: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  /* line 116, ../compass/sass/_post.scss */
  .pagination-item:last-child {
    margin-left: -1px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}
/* line 1, ../compass/sass/_custom.scss */
img[alt=email] {
  display: inline;
  vertical-align: middle;
}

/* line 6, ../compass/sass/_custom.scss */
time.post-list {
  display: inline-block;
  min-width: 4rem;
}

/* Outer div */
/* line 12, ../compass/sass/_custom.scss */
span.datetime {
  width: 1.5rem;
  vertical-align: middle;
}

/* line 19, ../compass/sass/_custom.scss */
span.datetime p {
  margin: 0;
  padding: 0;
  line-height: 1;
  text-align: center;
  font-size: x-small;
}

/* line 27, ../compass/sass/_custom.scss */
span.datetime p:first-child {
  text-transform: uppercase;
}

/* line 5, ../compass/sass/_style.scss */
.container {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* Lists */
/* line 2, ../compass/sass/_layout.scss */
ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* line 7, ../compass/sass/_layout.scss */
dt {
  font-weight: bold;
}

/* line 10, ../compass/sass/_layout.scss */
dd {
  margin-bottom: .5rem;
}

/* Misc */
/* line 15, ../compass/sass/_layout.scss */
hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}

/* line 23, ../compass/sass/_layout.scss */
abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
}

/* line 29, ../compass/sass/_layout.scss */
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #e5e5e5;
}

/* Quotes */
/* line 35, ../compass/sass/_layout.scss */
blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: #7a7a7a;
  border-left: .25rem solid #e5e5e5;
}

/* line 42, ../compass/sass/_layout.scss */
blockquote p:last-child {
  margin-bottom: 0;
}

/* line 46, ../compass/sass/_layout.scss */
img {
  display: block;
  margin: 1rem auto;
  border: 1px solid #e5e5e5;
  max-width: 90%;
}

/* Tables */
/* line 54, ../compass/sass/_layout.scss */
table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}

/* line 60, ../compass/sass/_layout.scss */
td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}

/* line 65, ../compass/sass/_layout.scss */
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

/* line 70, ../compass/sass/_layout.scss */
.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

/* line 75, ../compass/sass/_layout.scss */
.container {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

/* line 82, ../compass/sass/_layout.scss */
.content {
  padding: 1rem 3rem;
}

/*
 *  __                  __
 * /\ \                /\ \
 * \ \ \___   __  __   \_\ \     __
 *  \ \  _ `\/\ \/\ \  /'_` \  /'__`\
 *   \ \ \ \ \ \ \_\ \/\ \_\ \/\  __/
 *    \ \_\ \_\/`____ \ \___,_\ \____\
 *     \/_/\/_/`/___/> \/__,_ /\/____/
 *                /\___/
 *                \/__/
 *
 * Designed, built, and released under MIT license by @mdo. Learn more at
 * https://github.com/poole/hyde.
 */
/*
 * Themes
 *
 * As of v1.1, Hyde includes optional themes to color the sidebar and links
 * within blog posts. To use, add the class of your choosing to the `body`.
 */
/* Base16 (http://chriskempson.github.io/base16/#default) */
/* line 26, ../compass/sass/_theme.scss */
body {
  color: #515151;
  background-color: #ddd;
}

/* line 31, ../compass/sass/_theme.scss */
#site-title, h1, h2, h3, h4, h5, h6 {
  color: #505050;
}

/* line 35, ../compass/sass/_theme.scss */
footer {
  color: #bbb;
  text-shadow: 0px 1px 0px #fff;
}

/* line 40, ../compass/sass/_theme.scss */
.container {
  -moz-box-shadow: #bbb 0px 0px 20px;
  -webkit-box-shadow: #bbb 0px 0px 20px;
  box-shadow: #bbb 0px 0px 20px;
}

/* line 44, ../compass/sass/_theme.scss */
a {
  color: #888;
  transition: color 0.2s ease;
  text-decoration: none;
}

/* line 49, ../compass/sass/_theme.scss */
a:hover {
  color: #515151;
}

/* line 56, ../compass/sass/_theme.scss */
strong {
  color: #303030;
}

/* line 60, ../compass/sass/_theme.scss */
.container {
  background-color: #fff;
}

/* Red */
/* line 65, ../compass/sass/_theme.scss */
.theme-base-08 .sidebar {
  background-color: #ac4142;
}

/* line 68, ../compass/sass/_theme.scss */
.theme-base-08 .content a,
.theme-base-08 .related-posts li a:hover {
  color: #ac4142;
}

/* Orange */
/* line 74, ../compass/sass/_theme.scss */
.theme-base-09 .sidebar {
  background-color: #d28445;
}

/* line 77, ../compass/sass/_theme.scss */
.theme-base-09 .content a,
.theme-base-09 .related-posts li a:hover {
  color: #d28445;
}

/* Yellow */
/* line 83, ../compass/sass/_theme.scss */
.theme-base-0a .sidebar {
  background-color: #f4bf75;
}

/* line 86, ../compass/sass/_theme.scss */
.theme-base-0a .content a,
.theme-base-0a .related-posts li a:hover {
  color: #f4bf75;
}

/* Green */
/* line 92, ../compass/sass/_theme.scss */
.theme-base-0b .sidebar {
  background-color: #90a959;
}

/* line 95, ../compass/sass/_theme.scss */
.theme-base-0b .content a,
.theme-base-0b .related-posts li a:hover {
  color: #90a959;
}

/* Cyan */
/* line 101, ../compass/sass/_theme.scss */
.theme-base-0c .sidebar {
  background-color: #75b5aa;
}

/* line 104, ../compass/sass/_theme.scss */
.theme-base-0c .content a,
.theme-base-0c .related-posts li a:hover {
  color: #75b5aa;
}

/* Blue */
/* line 110, ../compass/sass/_theme.scss */
.theme-base-0d .sidebar {
  background-color: #6a9fb5;
}

/* line 113, ../compass/sass/_theme.scss */
.theme-base-0d .content a,
.theme-base-0d .related-posts li a:hover {
  color: #6a9fb5;
}

/* Magenta */
/* line 119, ../compass/sass/_theme.scss */
.theme-base-0e .sidebar {
  background-color: #aa759f;
}

/* line 122, ../compass/sass/_theme.scss */
.theme-base-0e .content a,
.theme-base-0e .related-posts li a:hover {
  color: #aa759f;
}

/* Brown */
/* line 128, ../compass/sass/_theme.scss */
.theme-base-0f .sidebar {
  background-color: #8f5536;
}

/* line 131, ../compass/sass/_theme.scss */
.theme-base-0f .content a,
.theme-base-0f .related-posts li a:hover {
  color: #8f5536;
}

/* line 1, ../compass/sass/_top.scss */
#top-message {
  position: absolute;
  z-index: 101;
  top: 0;
  left: 0;
  right: 0;
  background: #fde073;
  text-align: center;
  line-height: 2.5;
  overflow: hidden;
  -webkit-box-shadow: 0 0 5px black;
  -moz-box-shadow: 0 0 5px black;
  box-shadow: 0 0 5px black;
}
