/*
Vertical Rhythm from:
http://www.sitepoint.com/using-sass-build-custom-type-scale-vertical-rhythm/
*/
/* line 58, ../compass/sass/_typography.scss */
p, li, html {
  font-size: 16px;
  line-height: 1.5;
}

/* line 58, ../compass/sass/_typography.scss */
blockquote {
  font-size: 20px;
  line-height: 1.2;
}

/* line 58, ../compass/sass/_typography.scss */
h3 {
  font-size: 25px;
  line-height: 1.92;
}

/* line 58, ../compass/sass/_typography.scss */
h2 {
  font-size: 31.25px;
  line-height: 1.536;
}

/* line 58, ../compass/sass/_typography.scss */
h1 {
  font-size: 39.0625px;
  line-height: 1.2288;
}

/* line 58, ../compass/sass/_typography.scss */
.hero {
  font-size: 48.82813px;
  line-height: 1.96608;
}

@media (min-width: 480px) {
  /* line 58, ../compass/sass/_typography.scss */
  p, li, html {
    font-size: 16px;
    line-height: 1.5;
  }

  /* line 58, ../compass/sass/_typography.scss */
  blockquote {
    font-size: 20px;
    line-height: 1.2;
  }

  /* line 58, ../compass/sass/_typography.scss */
  h3 {
    font-size: 25px;
    line-height: 1.92;
  }

  /* line 58, ../compass/sass/_typography.scss */
  h2 {
    font-size: 31.25px;
    line-height: 1.536;
  }

  /* line 58, ../compass/sass/_typography.scss */
  h1 {
    font-size: 39.0625px;
    line-height: 1.2288;
  }

  /* line 58, ../compass/sass/_typography.scss */
  .hero {
    font-size: 48.82813px;
    line-height: 1.96608;
  }
}
@media (min-width: 960px) {
  /* line 58, ../compass/sass/_typography.scss */
  p, li, html {
    font-size: 18px;
    line-height: 1.5;
  }

  /* line 58, ../compass/sass/_typography.scss */
  blockquote {
    font-size: 22.5px;
    line-height: 1.2;
  }

  /* line 58, ../compass/sass/_typography.scss */
  h3 {
    font-size: 28.125px;
    line-height: 1.92;
  }

  /* line 58, ../compass/sass/_typography.scss */
  h2 {
    font-size: 35.15625px;
    line-height: 1.536;
  }

  /* line 58, ../compass/sass/_typography.scss */
  h1 {
    font-size: 43.94531px;
    line-height: 1.2288;
  }

  /* line 58, ../compass/sass/_typography.scss */
  .hero {
    font-size: 54.93164px;
    line-height: 1.96608;
  }
}
@media (min-width: 1280px) {
  /* line 58, ../compass/sass/_typography.scss */
  p, li, html {
    font-size: 20px;
    line-height: 1.5;
  }

  /* line 58, ../compass/sass/_typography.scss */
  blockquote {
    font-size: 25px;
    line-height: 1.2;
  }

  /* line 58, ../compass/sass/_typography.scss */
  h3 {
    font-size: 31.25px;
    line-height: 1.92;
  }

  /* line 58, ../compass/sass/_typography.scss */
  h2 {
    font-size: 39.0625px;
    line-height: 1.536;
  }

  /* line 58, ../compass/sass/_typography.scss */
  h1 {
    font-size: 48.82813px;
    line-height: 1.2288;
  }

  /* line 58, ../compass/sass/_typography.scss */
  .hero {
    font-size: 61.03516px;
    line-height: 1.96608;
  }
}
/* line 88, ../compass/sass/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

/* line 97, ../compass/sass/_typography.scss */
h5, h4, p {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

/* line 101, ../compass/sass/_typography.scss */
h3 {
  margin-top: .75rem;
  margin-bottom: .5rem;
}

/* line 105, ../compass/sass/_typography.scss */
h2, h1 {
  margin-top: 1.0rem;
  margin-bottom: .5rem;
}

/* line 3, ../compass/sass/_sidebar.scss */
.sidebar {
  text-align: center;
  padding: 0rem;
  margin: 0;
  margin-top: 1rem;
  overflow: hidden;
}

/* line 12, ../compass/sass/_sidebar.scss */
#site-title {
  margin: .5rem;
  font-size: 3.6rem;
}

/* line 17, ../compass/sass/_sidebar.scss */
#site-subtitle {
  margin: 0;
}

/* line 24, ../compass/sass/_sidebar.scss */
#sidebar-nav {
  padding-left: 0;
  list-style: none;
  margin: 0.5rem;
  padding: 0 0;
}
/* line 29, ../compass/sass/_sidebar.scss */
#sidebar-nav li {
  display: inline;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 0;
  padding-bottom: 0;
}
/* line 36, ../compass/sass/_sidebar.scss */
#sidebar-nav li::after {
  content: ",";
}

/* line 41, ../compass/sass/_sidebar.scss */
footer {
  font-size: .8rem;
}
/* line 43, ../compass/sass/_sidebar.scss */
footer div {
  margin: .5rem auto;
  text-align: center;
}

/* Code */
/* line 2, ../compass/sass/_code.scss */
code,
pre {
  font-family: Menlo, Monaco, monospace;
}

/* line 6, ../compass/sass/_code.scss */
code {
  padding: .25em .25em;
  font-size: 85%;
  color: #bf616a;
  background-color: #f9f9f9;
  border-radius: 3px;
}

/* line 13, ../compass/sass/_code.scss */
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: .8rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f9f9f9;
  overflow-y: hidden;
  overflow-x: scroll;
}

/* line 28, ../compass/sass/_code.scss */
pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: transparent;
  word-wrap: normal;
  white-space: pre;
}

/* line 36, ../compass/sass/_code.scss */
.highlight {
  margin-bottom: 1rem;
  border-radius: 4px;
}

/* line 40, ../compass/sass/_code.scss */
.highlight pre {
  margin-bottom: 0;
}

/* Lists */
/* line 2, ../compass/sass/_layout.scss */
ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* line 7, ../compass/sass/_layout.scss */
dt {
  font-weight: bold;
}

/* line 10, ../compass/sass/_layout.scss */
dd {
  margin-bottom: .5rem;
}

/* Misc */
/* line 15, ../compass/sass/_layout.scss */
hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}

/* line 23, ../compass/sass/_layout.scss */
abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
}

/* line 29, ../compass/sass/_layout.scss */
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #e5e5e5;
}

/* Quotes */
/* line 35, ../compass/sass/_layout.scss */
blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: #7a7a7a;
  border-left: .25rem solid #e5e5e5;
}

/* line 42, ../compass/sass/_layout.scss */
blockquote p:last-child {
  margin-bottom: 0;
}

/* line 46, ../compass/sass/_layout.scss */
img {
  display: block;
  margin: 1rem auto;
  border: 1px solid #e5e5e5;
  max-width: 90%;
}

/* line 53, ../compass/sass/_layout.scss */
.content {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  padding: 1rem 3rem;
}

/* line 3, ../compass/sass/_theme.scss */
body {
  color: #515151;
  background-color: #ddd;
}

/* line 8, ../compass/sass/_theme.scss */
#site-title, h1, h2, h3, h4, h5, h6 {
  color: #505050;
}

/* line 12, ../compass/sass/_theme.scss */
footer {
  color: #bbb;
  text-shadow: 0px 1px 0px #fff;
}

/* line 17, ../compass/sass/_theme.scss */
.content {
  -moz-box-shadow: #bbb 0px 0px 20px;
  -webkit-box-shadow: #bbb 0px 0px 20px;
  box-shadow: #bbb 0px 0px 20px;
  background-color: #fff;
}

/* line 22, ../compass/sass/_theme.scss */
a {
  color: #888;
  transition: color 0.2s ease;
  text-decoration: none;
}

/* line 27, ../compass/sass/_theme.scss */
a:hover {
  color: #515151;
}

/* line 31, ../compass/sass/_theme.scss */
strong {
  font-weight: bold;
}

/* line 35, ../compass/sass/_theme.scss */
em {
  font-style: italic;
}

/* line 39, ../compass/sass/_theme.scss */
.content {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
