<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  {% load staticfiles %}
  {# <link rel="stylesheet" href="{% static 'highlight.css' %}">#}
  <link rel="stylesheet" href="{% static 'bower_components/semantic-ui-form/form.min.css' %}">
  <link rel="stylesheet" href="{% static 'bower_components/semantic-ui-icon/icon.min.css' %}">
  <link rel="stylesheet" href="{% static 'bower_components/semantic-ui-button/button.min.css' %}">
  <link rel="stylesheet" href="{% static 'bower_components/semantic-ui-message/message.min.css' %}">
  <link rel="stylesheet" href="{% static 'bower_components/semantic-ui-header/header.min.css' %}">
  <link rel="stylesheet" href="{% static 'bower_components/semantic-ui-segment/segment.min.css' %}">
  <link rel="stylesheet" href="{% static 'bower_components/semantic-ui-transition/transition.min.css' %}">
  <link rel="stylesheet" href="{% static 'screen.css' %}">
  <link rel="stylesheet" href="{% static 'bib2html/bib.css' %}">

  <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'main.js' %}"></script>
  <script src="{% static 'bower_components/semantic-ui-form/form.min.js' %}"></script>
  <script src="{% static 'bower_components/semantic-ui-transition/transition.min.js' %}"></script>
  <title>{{ title }}</title>
</head>

<body>
  {# {% for message in get_flashed_messages() %}#}
  {# <div id="top-message" class="message">#}
    {# <p>{{ message }} <i class="close icon"></i></p>#}
    {# <script>#}
      {# setTimeout(function() {#}
        {# $('#top-message i.close').click();#}
      {# }, 3000);#}
    {# </script>#}
  {# </div>#}
  {# {% endfor %}#}

<div class="sidebar">
    <div class="sidebar-about">
      <h1 id="site-title">Fan@CU</h1>
    </div>

    <ul id="sidebar-nav">
      <li><a href="/" class="sidebar-nav-item">Home</a></li>
      <li><a href="/blog" class="sidebar-nav-item">Blogs</a></li>
      <li><a href="/about" class="sidebar-nav-item">About Me</a></li>
    </ul>
</div>

<div class="container">
  <div class="content">
  {% block content %}
  {% endblock %}
  </div>
</div>

<footer>
  <div> Copyright &copy Fan 2014-2015</div>
  <div> Last updated at LASTUPDATE </div>
  {% if session.logged_in %}
      <div>Logged in as {{ session.username }} (<a href="/logout">logout</a>)</div>
  {% else %}
      <div><a href="/admin">Log In</a></div>
  {% endif %}
</footer>
</body>
</html>
